# آدرس API بکاند (بدون اسلش انتهایی)
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
# آدرس عمومی سایت
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# (اختیاری) آدرس داخلی API برای fetch سمت سرور داخل docker
INTERNAL_API_URL=
